@media screen and (max-width: 900px){
  .search-bar {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav ul {
    background-color: #202020;
    overflow: hidden;
    text-align: left;
  }

  .mobile-nav ul li {
    display: inline-block;
    padding: 20px;
    color: white;
  }

  .mobile-nav {
    width: 100%;
    display: block;
    position: fixed;
    margin-top: 0;
    z-index: 9999;
  }

  .mobile-nav ul li a {
    text-decoration: none;
    color: grey;
  }

  .mobile-nav ul li a:hover{
    color: white;
  }

  .content {
    margin-top: 200px;
  }
}
